header {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #8a8586;
background-image: url("https://www.transparenttextures.com/patterns/always-grey.png"););
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}